@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  font-family: 'Calibri', Arial, sans-serif;
  font-display: swap; /*for seo*/
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html {
  scroll-behavior: smooth;
}